<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>791527199565-iq2fi39vg01g3jlq4sap063ujrpqsqo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791527199565-iq2fi39vg01g3jlq4sap063ujrpqsqo4</string>
	<key>API_KEY</key>
	<string>AIzaSyATRjP9AZ3ow0lp2SjAwOPBwKXJlQpTc5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>791527199565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NottMyStyle.nott</string>
	<key>PROJECT_ID</key>
	<string>nottmystyle-447aa</string>
	<key>STORAGE_BUCKET</key>
	<string>nottmystyle-447aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791527199565:ios:ba5ba5ae41e1f0ff</string>
	<key>DATABASE_URL</key>
	<string>https://nottmystyle-447aa.firebaseio.com</string>
</dict>
</plist>